# Tree-based classification model

### Import libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier as GBC
from sklearn.ensemble import RandomForestClassifier as RFC 
from sklearn.metrics import *
import random
import pickle

### Read the dataset

In [2]:
df = pd.read_csv('Dataset/rgb_img_dataset_test_colorfulness.csv')

In [3]:
df

,filename,r_range_1,g_range_1,b_range_1,proportion_1,r_range_2,g_range_2,b_range_2,proportion_2,r_range_3,...,sling,shorts,trousers,skirt,short_sleeved_dress,long_sleeved_dress,vest_dress,sling_dress,colorfulness,label
0,european-street-fashion-output/test/test00000.png,16-31,16-31,16-31,0.303225,0-15,0-15,0-15,0.235109,0-15,...,0.0,0.0,0.000000,0.887868,0.0,0.0,0.0,0.0,35.539986,0
1,european-street-fashion-output/test/test00001.png,16-31,16-31,16-31,0.176878,240-255,240-255,240-255,0.091829,224-239,...,0.0,0.0,0.985530,0.930180,0.0,0.0,0.0,0.0,13.672892,0
2,european-street-fashion-output/test/test00005.png,224-239,224-239,224-239,0.092203,208-223,208-223,208-223,0.082258,224-239,...,0.0,0.0,0.894071,0.000000,0.0,0.0,0.0,0.0,9.019223,0
3,european-street-fashion-output/test/test00006.png,48-63,32-47,32-47,0.063760,112-127,32-47,0-15,0.059953,128-143,...,0.0,0.0,0.000000,0.939734,0.0,0.0,0.0,0.0,64.195108,0
4,european-street-fashion-output/test/test00008.png,0-15,0-15,0-15,0.127613,192-207,176-191,160-175,0.112392,192-207,...,0.0,0.0,0.732579,0.000000,0.0,0.0,0.0,0.0,25.580210,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,thai-street-fashion-output/test/test00515.png,0-15,0-15,16-31,0.382456,0-15,16-31,16-31,0.152202,112-127,...,0.0,0.0,0.000000,0.993711,0.0,0.0,0.0,0.0,21.898130,0
603,thai-street-fashion-output/test/test00516.png,32-47,32-47,32-47,0.196324,192-207,192-207,192-207,0.066635,176-191,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,19.477787,0
604,thai-street-fashion-output/test/test00526.png,64-79,112-127,128-143,0.030152,48-63,112-127,144-159,0.028196,64-79,...,0.0,0.0,0.877317,0.000000,0.0,0.0,0.0,0.0,44.893097,0
605,thai-street-fashion-output/test/test00527.png,32-47,32-47,0-15,0.134387,32-47,32-47,16-31,0.129191,16-31,...,0.0,0.0,0.999213,0.000000,0.0,0.0,0.0,0.0,38.425786,0
606,thai-street-fashion-output/test/test00531.png,80-95,0-15,0-15,0.086001,64-79,0-15,0-15,0.076244,96-111,...,0.0,0.0,0.813541,0.000000,0.0,0.0,0.0,0.0,83.378443,0

In [4]:
df_test = df[(df['filename']=='thai-street-fashion-output/test/test00066.png')|
             (df['filename']=='harajuku-kawaii-street-fashion-output/test/test00011.png')|
             (df['filename']=='european-street-fashion-output/test/test00000.png')]

In [5]:
df = pd.read_csv('validated_dataset/rgb_img_dataset_val_colorfulness.csv')

In [6]:
df

,filename,r_range_1,g_range_1,b_range_1,proportion_1,r_range_2,g_range_2,b_range_2,proportion_2,r_range_3,...,sling,shorts,trousers,skirt,short_sleeved_dress,long_sleeved_dress,vest_dress,sling_dress,colorfulness,label
0,validated-dataset/Harajuku_validate_seg/test/t...,192-207,208-223,208-223,0.043663,176-191,192-207,192-207,0.025613,240-255,...,0.000000,0.0,0.945883,0.000000,0.000000,0.0,0.0,0.0,67.900325,1
1,validated-dataset/Harajuku_validate_seg/test/t...,0-15,0-15,0-15,0.133668,32-47,32-47,32-47,0.094196,16-31,...,0.000000,0.0,0.000000,0.000000,0.799467,0.0,0.0,0.0,32.631076,1
2,validated-dataset/Harajuku_validate_seg/test/t...,32-47,32-47,32-47,0.108095,16-31,16-31,16-31,0.105439,0-15,...,0.000000,0.0,0.000000,0.996554,0.000000,0.0,0.0,0.0,115.300448,1
3,validated-dataset/Harajuku_validate_seg/test/t...,32-47,32-47,32-47,0.114777,16-31,32-47,32-47,0.064742,16-31,...,0.000000,0.0,0.906149,0.000000,0.000000,0.0,0.0,0.0,82.113507,1
4,validated-dataset/Harajuku_validate_seg/test/t...,176-191,176-191,176-191,0.103105,176-191,160-175,160-175,0.090293,160-175,...,0.000000,0.0,0.777645,0.000000,0.000000,0.0,0.0,0.0,10.725099,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,validated-dataset/Thai_validate_seg/test/test0...,0-15,0-15,0-15,0.768346,0-15,0-15,16-31,0.029121,240-255,...,0.000000,0.0,0.883960,0.000000,0.000000,0.0,0.0,0.0,23.331444,0
289,validated-dataset/Thai_validate_seg/test/test0...,0-15,0-15,0-15,0.634070,240-255,208-223,176-191,0.107133,240-255,...,0.837009,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,32.353537,0
290,validated-dataset/Thai_validate_seg/test/test0...,224-239,192-207,160-175,0.083004,0-15,0-15,0-15,0.069781,208-223,...,0.000000,0.0,0.000000,0.741536,0.000000,0.0,0.0,0.0,34.527546,0
291,validated-dataset/Thai_validate_seg/test/test0...,32-47,32-47,64-79,0.172352,32-47,48-63,80-95,0.110845,16-31,...,0.000000,0.0,0.933004,0.860807,0.000000,0.0,0.0,0.0,26.350925,0
292,validated-dataset/Thai_validate_seg/test/test0...,0-15,0-15,0-15,0.398327,16-31,16-31,16-31,0.255062,240-255,...,0.856426,0.0,0.000000,0.892284,0.000000,0.0,0.0,0.0,7.360534,0

In [7]:
## Example for presentation
df_test_val = df[(df['filename']=='validated-dataset/Thai_validate_seg/test/test00175.png')|
                 (df['filename']=='validated-dataset/Harajuku_validate_seg/test/test00023.png')]

In [8]:
df = df.drop('filename', axis=1)

### Dataset example

In [9]:
df.head()

,r_range_1,g_range_1,b_range_1,proportion_1,r_range_2,g_range_2,b_range_2,proportion_2,r_range_3,g_range_3,...,sling,shorts,trousers,skirt,short_sleeved_dress,long_sleeved_dress,vest_dress,sling_dress,colorfulness,label
0,192-207,208-223,208-223,0.043663,176-191,192-207,192-207,0.025613,240-255,224-239,...,0.0,0.0,0.945883,0.000000,0.000000,0.0,0.0,0.0,67.900325,1
1,0-15,0-15,0-15,0.133668,32-47,32-47,32-47,0.094196,16-31,16-31,...,0.0,0.0,0.000000,0.000000,0.799467,0.0,0.0,0.0,32.631076,1
2,32-47,32-47,32-47,0.108095,16-31,16-31,16-31,0.105439,0-15,0-15,...,0.0,0.0,0.000000,0.996554,0.000000,0.0,0.0,0.0,115.300448,1
3,32-47,32-47,32-47,0.114777,16-31,32-47,32-47,0.064742,16-31,16-31,...,0.0,0.0,0.906149,0.000000,0.000000,0.0,0.0,0.0,82.113507,1
4,176-191,176-191,176-191,0.103105,176-191,160-175,160-175,0.090293,160-175,144-159,...,0.0,0.0,0.777645,0.000000,0.000000,0.0,0.0,0.0,10.725099,1

### Convert the format of each string range-column to integer order

In [10]:
# Convert the format of each string range-column to integer order
def convert_range_to_order(val):
    result = int(val.split('-')[0])/16
    return int(result)

In [11]:
for col_name in df.columns:
    if('_range_' in col_name):
        df[col_name] = df[col_name].apply(lambda x: convert_range_to_order(x))
        df_test[col_name] = df_test[col_name].apply(lambda x: convert_range_to_order(x))
        df_test_val[col_name] = df_test_val[col_name].apply(lambda x: convert_range_to_order(x))

<ipython-input-11-b8093efe66b5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test[col_name] = df_test[col_name].apply(lambda x: convert_range_to_order(x))
<ipython-input-11-b8093efe66b5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_val[col_name] = df_test_val[col_name].apply(lambda x: convert_range_to_order(x))

### Result from convert_range_to_order() function

In [12]:
df.head()

,r_range_1,g_range_1,b_range_1,proportion_1,r_range_2,g_range_2,b_range_2,proportion_2,r_range_3,g_range_3,...,sling,shorts,trousers,skirt,short_sleeved_dress,long_sleeved_dress,vest_dress,sling_dress,colorfulness,label
0,12,13,13,0.043663,11,12,12,0.025613,15,14,...,0.0,0.0,0.945883,0.000000,0.000000,0.0,0.0,0.0,67.900325,1
1,0,0,0,0.133668,2,2,2,0.094196,1,1,...,0.0,0.0,0.000000,0.000000,0.799467,0.0,0.0,0.0,32.631076,1
2,2,2,2,0.108095,1,1,1,0.105439,0,0,...,0.0,0.0,0.000000,0.996554,0.000000,0.0,0.0,0.0,115.300448,1
3,2,2,2,0.114777,1,2,2,0.064742,1,1,...,0.0,0.0,0.906149,0.000000,0.000000,0.0,0.0,0.0,82.113507,1
4,11,11,11,0.103105,11,10,10,0.090293,10,9,...,0.0,0.0,0.777645,0.000000,0.000000,0.0,0.0,0.0,10.725099,1

In [13]:
df['label'].value_counts()

0    186
1    107
Name: label, dtype: int64

for col in df.columns:
    if('proportion' in col):
        df = df.drop(col, axis=1)

for col in df.columns:
    if('6' in col):
        df = df.drop(col, axis=1)
    if('7' in col):
        df = df.drop(col, axis=1)

### Functions

In [14]:
# model evaluation process 
# input: image infomation (dataframe), model
# output: -

def evaluate_final(df, model): 
    # training_size is ratio of training data for train-test split (float)
    # param is set of parameter for model training (dict)
    
    X_test = df.drop('label', axis=1)
    y_test = df['label']
    
    X_test = X_test.reset_index().drop('index', axis=1)
    y_test = y_test.reset_index().drop('index', axis=1)
    y_pred_prob = model.predict_proba(X_test)
    y_pred = model.predict(X_test)
    
    for i in range(len(y_pred_prob)):
        print('Actual: {} | Predicted: {} | Prob class 1: {}'.format(y_test.iloc[i]['label'], y_pred[i], y_pred_prob[i][1]))
        
    print('Confusion Matrix')
    print(confusion_matrix(y_test, y_pred))
    print('Accuracy: {:.4f}'.format(accuracy_score(y_test, y_pred)))
    print('Precision: {:.4f}'.format(precision_score(y_test, y_pred)))
    print('Recall: {:.4f}'.format(recall_score(y_test, y_pred)))

### Run

In [48]:
model = pickle.load(open('checkpoints_2/best_model_0.sav', 'rb'))
# evaluate_final(df, model)

### Example result from model (Testing Set)

In [49]:
df_test = df_test.reset_index().drop('index', axis=1)
filename = df_test['filename']
x_input = df_test.drop(['filename', 'label'], axis=1)
# output = model.predict_proba(x_input)[:, 0]
# output = np.where(output>=0.5, 1, 0)
output = model.predict(x_input)

In [50]:
output_tab = pd.concat([filename, x_input], axis=1)
output_tab['predicted_class'] = output

In [51]:
output_tab

,filename,r_range_1,g_range_1,b_range_1,proportion_1,r_range_2,g_range_2,b_range_2,proportion_2,r_range_3,...,sling,shorts,trousers,skirt,short_sleeved_dress,long_sleeved_dress,vest_dress,sling_dress,colorfulness,predicted_class
0,european-street-fashion-output/test/test00000.png,1,1,1,0.303225,0,0,0,0.235109,0,...,0.0,0.0,0.000000,0.887868,0.0,0.0,0.0,0.0,35.539986,0
1,harajuku-kawaii-street-fashion-output/test/tes...,15,0,4,0.047448,0,1,3,0.024838,0,...,0.0,0.0,0.965911,0.981742,0.0,0.0,0.0,0.0,116.695958,0
2,thai-street-fashion-output/test/test00066.png,13,14,15,0.151879,14,15,15,0.055616,12,...,0.0,0.0,0.780346,0.000000,0.0,0.0,0.0,0.0,37.774792,1

### Example result from model (Validation Set)

In [52]:
df_test_val = df_test_val.reset_index().drop('index', axis=1)
filename = df_test_val['filename']
x_input = df_test_val.drop(['filename', 'label'], axis=1)
# output = model.predict_proba(x_input)[:, 0]
# output = np.where(output>=0.5, 1, 0)
output_val = model.predict(x_input)

In [53]:
output_tab_val = pd.concat([filename, x_input], axis=1)
output_tab_val['predicted_class'] = output_val

In [54]:
output_tab_val

,filename,r_range_1,g_range_1,b_range_1,proportion_1,r_range_2,g_range_2,b_range_2,proportion_2,r_range_3,...,sling,shorts,trousers,skirt,short_sleeved_dress,long_sleeved_dress,vest_dress,sling_dress,colorfulness,predicted_class
0,validated-dataset/Harajuku_validate_seg/test/t...,12,14,15,0.085197,14,0,2,0.051410,15,...,0.0,0.0,0.964234,0.0,0.0,0.0,0.0,0.000000,120.919333,1
1,validated-dataset/Thai_validate_seg/test/test0...,14,10,6,0.117382,14,10,5,0.117135,13,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.831236,54.779388,1